<?php

define('CONSUMER_KEY', '');
define('CONSUMER_SECRET', '');
define('ACCESS_TOKEN', '');
define('ACCESS_TOKEN_SECRET', '');

define('USER', 'LStartuper');

/* obligatory both for  hashtag_retweet.php & list_retweet.php */
define('HASHTAG', 'LTstartups');

/* needed only for retweet_list.php */
define('USER_LIST', 'lithuanian-startups');

/* we are not retweeting tweets of following users in the HASHTAG */
$blacklist = array(
	'vilnius_bot' // bot retweeting everything mentioning capital
);

?>

